// $base-font-size:   18px !default;

// // SET COLORS
// $background-color: hsl(40, 5%, 12%);
$site-title-color: #bbbbbb;
$text-color: #bbbbbb;
$brand-color: #CC6677;
$brand-color-light: lighten($brand-color, 10%);
$brand-color-dark: darken($brand-color, 30%);

$h1-color: #44AA99;
$h2-color: #DDCC77;

$link-base-color: #88CCEE;
$link-visited-color:    #AA4499;
// $link-hover-color:      $text-color !default;

// $border-color-01: $brand-color-dark !default;
// $border-color-02: $brand-color !default;
// $border-color-03: $brand-color-light !default;

// // SET FORMATTING VARS
// // $base-line-height
// $content-width:     1000px;
// $on-laptop:         1000px;