h1 {
    color:  $h1-color;
    font-weight: bold;
  }

h2 {
    color: $h2-color;
}

// table of contents
#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
}

#markdown-toc {
  border: 1px solid #bbbbbb;
  padding: 1.5em;
}
